body {
  text-align: center;
  background-color: #F3F4ED;
  font-family: 'Roboto Mono', monospace;
  color: #black;
  line-height: 2;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
}

ul {
  list-style: none;
}

/*------------------------- navigation bar -------------------------*/
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 100%;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  padding: 0 18px;
}

.dropdown-item {
  padding: 0 10px 0 0;
}

/*------------------------- Carousel -------------------------*/
#carouselCaptions {
  margin-top: 10rem;
}

/*------------------------- Heading -------------------------*/
.heading {
  margin-top: 5%;
  color: #black;
}

/*------------------------- Hobbies page -------------------------*/
.hobbieTitle {
  margin-top: 10%;
}

.hobbies {
  margin: 2%;
}

.col-lg-2 {
  display: inline;
  float: left;
  width: 100%;
  padding: 1rem 2rem;
  height: auto;
}

.column11 {
  display: inline;
  float: left;
  width: 50%;
  padding: 0.5rem;
  padding-top: 2rem;
  height: 110%;
}

.column21 {
  display: inline;
  float: left;
  width: 50%;
  padding: 0.5rem;
  padding-top: 2rem;
  height: 110%;
}

.profile1 {
  height: auto;
  width: 40%;
  float: right;
}

/*------------------------- Work Page -------------------------*/
.cbtlHeading {
  margin-left: 2%;
}

.sbHeading {
  margin-left: 2%;
}

/*------------------------- Skills Page -------------------------*/
.characterHead {
  margin: 0 0 5% 0;
}

.characterP {
  font-size: 120%;
}

.table {
  margin: 5% 0 5% 0;
}

/*------------------------- Website Page -------------------------*/
.foodCar {
  color: black;
  background-color: #DDDDDD;
  font-size: 1.5rem;
}

.talkCar {
  color: black;
  background-color: #DDDDDD;
  font-size: 1.5rem;
}

.diceCar {
  color: black;
  background-color: #DDDDDD;
  font-size: 1.5rem;
}

.webHeading2 {
  margin-top: 15%;
}

.webHeading3 {
  margin-top: 15%;
}

/*------------------------- Pictures -------------------------*/
.profile {
  height: auto;
  width: 40%;
}

.workPic {
  height: auto;
  width: 50%;
  padding: 5% 15% 5% 15%;
}

.trav {
  height: auto;
  width: 50%;
}

.bakes {
  height: auto;
  width: 42%;
}

.james {
  height: auto;
  width: 60%;
}

.fit {
  height: auto;
  width: 35%;
}

/*------------------------- Footer -------------------------*/
#footer {
  font-family: "Ubuntu", sans-serif;
  background-color: #536162;
  color: #fff;
}

.btn {
  margin: 0 0.5rem 1rem 0.5rem;
}

#footerR {
  font-family: "Ubuntu", sans-serif;
  margin: 10rem 2rem;
  background-color: #8CA1A5;
  color: #fff;
}

#footerH {
  font-family: "Ubuntu", sans-serif;
  margin: 10rem 2rem;
  background-color: #536162;
  color: #fff;
}

.btn {
  margin: 0 0.5rem 1rem 0.5rem;
}

/* ------------------------------ Divider ----------------*/
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.rounded-4 {
  border-radius: .5rem;
}

.rounded-5 {
  border-radius: .75rem;
}

.rounded-6 {
  border-radius: 1rem;
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}

.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.border-right {
  border-right: 1px solid #eee;
}

.modal-tour .modal-dialog {
  width: 380px;
}

/* ----------------------- Resume Page ----------------*/
.headingR {
  color: white;
}

.headingResume {
  margin-top: 5rem;
  display: block;
  height: 100px;
  padding: 5px;
}

.column1 {
  display: inline;
  float: left;
  width: 30%;
  padding: 0.5rem;
  padding-top: 2rem;
  height: 425px;
  /* Should be removed. Only for demonstration */
  color: white;
}

.profile1 {
  height: auto;
  width: 40%;
  float: right;
}

.column2 {
  display: inline;
  float: left;
  width: 70%;
  padding: 10px;
  height: 425px;
  /* Should be removed. Only for demonstration */
  color: white;
}

.ulR {
  font-size: 120%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.resumeA {
  font-size: 85%;
  align: : left;
}
